:root {
  --primary-color: #4299E1;
  --secondary-color: #2B6CB0;
  --gray-light: #D1D5DB;
  --gray-dark: #A0AEC0;
  --white: #FFFFFF;
  --black: #1A202C;
  --font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--white);
  font-family: var(--font-family);
  color: var(--black);
  margin:  0;
  padding:  0;
}

.openai-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh;
  width:  100%;
}

.centered-content {
  max-width:  600px;
  background-color: var(--white);
  border-radius:  10px;
  padding:  20px;
  box-shadow:  0  10px  15px -3px rgba(0,  0,  0,  0.1),  0  4px  6px -2px rgba(0,  0,  0,  0.05);
}

.message-history {
  height:  300px;
  overflow-y: auto;
  padding:  10px;
  border-radius:  10px;
  background-color: #F3F4F6;
  margin-bottom:  10px;
  display: flex;
  flex-direction: column;
}

.message-history p {
  padding:  10px;
  border-radius:  10px;
  margin-bottom:  10px;
}

.user_msg {
  text-align: right;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius:  10px;
  margin-left: auto;
  margin-right:  10px;
  margin-bottom:  10px;
}

input {
  width:  100%;
  height:  40px;
  border-radius:  10px;
  padding:  10px;
  font-size:  1.2rem;
  border:  1px solid var(--gray-light);
  background: var(--white);
  color: var(--black);
}

input::placeholder {
  color: var(--gray-dark);
}

button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding:  10px  20px;
  font-size:  1.2rem;
  border-radius:  10px;
  cursor: pointer;
  margin-top:  10px;
  width:  100%;
  transition: background-color  0.2s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

button:disabled {
  background-color: var(--gray-dark);
  cursor: not-allowed;
}

.error-message {
  color: var(--error-color);
  margin-top:  10px;
}

h1 {
  text-align: center;
  font-size:  2.5rem;
  font-weight: bold;
  margin-bottom:  20px;
}
