:root {
  --primary-color: #4b97fca5;
  --secondary-color: #6C757D;
  --success-color: #28A745;
  --info-color: #17A2B8;
  --warning-color: #FFC107;
  --danger-color: #DC3545;
  --light-color: #F8F9FA;
  --dark-color: #343A40;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-color);
  color: var(--dark-color);
  margin:  0;
  padding:  0;
}

.openai-container {
  display: grid;
  align-content: center;
  justify-content: center;
  height:  100vh; /* Full height of the viewport */
  border-radius: 5px;
}

.centered-content {
  max-width:  600px; /* Maximum width of the content */
  
}



.message-history {
  flex:  1; /* Allow the message history to grow and take up available space */
  overflow-y: auto;
  padding:  10px;
  border-radius:  10px;
  background-color: #F3F4F6;
  margin-bottom:  10px;
}

.message-history p {
  padding:  10px;
  border-radius:  10px;
  margin-bottom:  10px;
}

.assistant_msg {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: left;
  border-radius:  10px;
  margin-right: auto;
  margin-left:  10px;
  margin-bottom:  10px;
}


input{
  display: grid;
  background-color: var(--secondary-color);
  justify-content: center;
}

button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding:  10px  20px;
  font-size:  1.2rem;
  border-radius:  10px;
  cursor: pointer;
  margin-top:  10px;
  width:  100%;
  transition: background-color  0.2s ease;
}

button:hover {
  background-color: var(--success-color);
}

button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.error-message {
  color: var(--danger-color);
  margin-top:  10px;
}
